html {
  scrollbar-gutter: stable;
}

body {
  margin: 0;
  background: var(--bg-color);
  color: var(--text-primary);
  font-family: "Inter", "Segoe UI", system-ui, -apple-system, sans-serif;
}

:root {
  --bg-color: #0a0a0c;
  --surface-color: #19191b;
  --primary-color: #0077ff;
  --primary-hover: #0066de;

  --text-primary: #e1e3e6;
  --text-secondary: #818c99;

  --white: #ffffff;
  --error: #ff3347;

  --space-xs: 4px;
  --space-s: 8px;
  --space-m: 16px;
  --space-l: 24px;
  --space-xl: 32px;

  --radius-s: 8px;
  --radius-m: 12px;
  --radius-l: 20px;

  --ease: all 0.2s ease-in-out;
}
